<template>
  <q-page class="flex flex-center">
    <List />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import List from "components/List.vue";

export default defineComponent({
  name: "PageIndex",

  components: {
    List,
  },
});
</script>
