<script setup>
import { ref, onMounted } from "vue";
import { useRoute } from "vue-router";
import axios from "axios";

const item = ref({});
const route = useRoute();

const fetchItem = async (id = "1") => {
  const { data } = await axios.get(
    `https://jsonplaceholder.typicode.com/posts/${id}`
  );
  item.value = data;
};

onMounted(fetchItem(route.query.number));
</script>

<template>
  <q-page class="flex flex-center">
    <div class="row">
      <div class="col-3"></div>
      <q-card flat bordered class="my-card col-6">
        <q-card-section>
          <div class="text-h6">{{ item.title }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ item.body }}
        </q-card-section>

        <!-- <q-separator inset />

      <q-card-section>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </q-card-section> -->
      </q-card>
      <div class="col-3"></div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "PageItem",
});
</script>
