<script setup>
import { ref, computed, onMounted } from "vue";
import { useRouter } from "vue-router";
import axios from "axios";

const router = useRouter();
const bCheck = ref(false);
const curPage = ref(1);

const list = ref([]);
let tableTitle = ref("tableTitle");

const pagin = ref({ page: curPage.value, rowsPerPage: 10 });
// const pagin = computed({
//   get: () => {
//     return { page: curPage.value, rowsPerPage: 10 };
//   },
//   set: (val) => {
//     console.log(val);
//   },
// });

const mathTitles = () => {
  // взять из всех массив текущей страницы
  // FIXME: сейчас неправильно
  const curPageList = list.value.slice(
    (pagin.value.page - 1) * pagin.value.rowsPerPage,
    (pagin.value.page - 1) * pagin.value.rowsPerPage
  );
  console.log(curPageList);

  const titles = curPageList.map((i) => i.title);
  const titlesNums = titles.map((i) => i.length);

  if (titlesNums.length > 0) {
    return Math.floor(titlesNums.reduce((a, b) => a + b) / titlesNums.length);
  }
};

const fetchList = async () => {
  const { data } = await axios.get(
    "https://jsonplaceholder.typicode.com/posts"
  );
  list.value = data;
  tableTitle.value = "Средняя длина поля title: " + mathTitles();
};

const onRowClick = (evt, row) => {
  router.push("/item?number=" + row.id);
};

const onUpdatePagination = (obj) => {
  curPage.value = obj.page;
  tableTitle.value = "Средняя длина поля title: " + mathTitles();
};

onMounted(() => {
  fetchList();
});
</script>

<template>
  <div style="max-width: 100%">
    <div class="q-pa-md">
      <q-toggle v-model="bCheck" color="red" />
    </div>

    <div class="q-pa-md">
      <!-- :columns="columns" -->
      <q-table
        :grid="bCheck"
        :title="tableTitle"
        :rows="list"
        :pagination="pagin"
        row-key="name"
        :filter="''"
        hide-header
        @row-click="onRowClick"
        @update:pagination="onUpdatePagination"
      />
    </div>
  </div>
</template>
